{% load i18n %}
<!DOCTYPE html>
<html>

<head></head>
<style>
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 50px;
    }

    #submit {
        margin-top: 10px;
        display: block;
        margin-top: 10px;
        margin-left: 30%;
        background-color: green;
        border-radius: 10px;
        width: 15vw;
        height: 5vh;
        text-align: center;
    }
</style>

<body class="center">
    <h1>{% trans "Login portal" %}</h1>
    {% csrf_token %}
    <form method="POST">
        {% csrf_token %}
        <span style="color: red;">
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            {{ form.password.errors }}
        </span>
        <br>
        <div>
            <span>Username<label>*</label></span>
            {{ form.username }}
        </div>
        <br>
        <div>
            <span>Password<label>*</label></span>
            {{ form.password }}
        </div>
        <input id='submit' type="submit" value="Login">
    </form>
</body>

</html>