<!DOCTYPE html>
<html>

<head></head>

<body>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
    <h3>ALready have an account ?</h3>
    <a href="{% url 'login' %}">Log in</a>
</body>

</html>